.nav {
	background-color: var(--secondary);
	color: var(--accent);
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.nav-link, .dropdown, .user {
	color: var(--accent);
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
.nav-link:hover {
	color: var(--accent);
	background-color: var(--primary);
}

.admin-nav-link {
	background-color: var(--primary);
}
.admin-nav-link:hover {
	background-color: var(--secondary);
	color:var(--tertiary);
}

.dropdown-content {
	margin-top: 14px;
	margin-left: -16px;
	padding: 0;
	float: left;
	display: none;
	position: absolute;
	background-color: var(--primary);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: var(--accent);
	padding: 14px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content:hover {
	background-color: var(--primary);
}

.dropdown:hover {
	color: var(--accent);
	background-color: var(--primary);
}

.dropdown-content a:hover {
	background-color: var(--secondary);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.user {
	float: right;
}