.main {
    display: block;
    background-color: var(--tertiary);
    border-color: var(--black);
    border-style: solid;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 10px;
    min-height: 150px; 
}
